$neutral-900: #252f3d;
$neutral-600: #7c899c;
$neutral-500: #8fa3bf;
$neutral-300: #dae4f2;
$neutral-200: #e6edf7;
$neutral-100: #f5f9ff;

$brand-light: #e5f0ff;
$brand-ligt2: #cce1ff;

$green-default: #29cc74;
$green-light: #ccffe3;

$red-default: #e07f4f;
$red-light: #ffdfd9;
